@use './utilities/variables' as *;
@import './layout/blog.scss';
@import './layout/contacto.scss';
@import './layout/eventos.scss';
@import './layout/obras.scss';
@import './layout/sobrelaautora.scss';
@import './themes/dark.scss';
@import './utilities/mixing.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;

    h1 {
        font-size: $font-size-title;
    }

    p {
        font-family: $font;
        font-size: $font-size-text;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $color-black;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        padding-top: 40px;
        margin-bottom: 56px;
        gap: 24px;
    }

    .section-soy {
        grid-column: 2 / 12;
        grid-column-start: 2;
        grid-row-start: 1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 24px;
        align-items: center;
    }

    .text-intermed {
        grid-column: 2 / 12;
        grid-column-start: 2;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr;
    }

    .inicio-presentacion {
        display: grid;
        grid-column: 2 / 12;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 24px;
    }

    .libro {
        display: flex;
        margin: 0px 208px;
        flex-direction: column;

        .titulo-del-libro {
            margin: 24px 0px;
        }

        .imagen-libro-text {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: center;

            img {
                width: 500px;
            }
        }
    }

    .second-image {
        width: 540px;
    }

    .blog-post {
        display: flex;
        margin: 0px 208px;
        flex-direction: column;
    }

    .buttons {
        display: flex;
        gap: 24px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;


        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            position: relative;
            z-index: 10;
        }

        .navbar__toggle {
            display: none;
            background: none;
            border: none;
            font-size: 2rem;
            cursor: pointer;
            color: #000;
            transition: color 0.3s ease;

            &:hover {
                opacity: 0.7;
            }
        }


        .nav-links {
            display: flex;
            align-items: center;
            gap: 30px;
            transition: all 0.3s ease;
        }



        .toggle-switch {
            position: relative;
            width: 90px;
            height: 40px;

            .switch-label {
                position: absolute;
                width: 100%;
                height: 40px;
                background-color: $switch-dark;
                border-radius: 25px;
                cursor: pointer;
                border: 3px solid $switch-dark;

                .checkbox {
                    position: absolute;
                    display: none;
                }

                :checked~.slider {
                    background-color: $switch-light;
                }

                :checked~.slider::before {
                    -webkit-transform: translateX(50px);
                    -ms-transform: translateX(50px);
                    transform: translateX(50px);
                    background-color: $switch-dark;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                .slider {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 8px;
                        left: 10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        -webkit-box-shadow: inset 12px -4px 0px 0px $switch-light;
                        box-shadow: inset 12px -4px 0px 0px $switch-light;
                        background-color: $switch-dark;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                    }
                }
            }
        }

        .logo img {
            width: 140px;
            height: auto;
            object-fit: contain;
            transition: all 0.3s ease;
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 30px;
            margin: 0px;
            padding: 0;
            font-family: $font;
            color: $color-black;
            line-height: 2;
            position: relative;

            .close-btn {
                display: none;
            }

            li {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -0.25rem;
                    height: 2px;
                    width: 0;
                    border-radius: 2px;
                    background-color: $color-black;
                    transition: width .3s ease;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }

    footer {
        display: flex;
        margin: 24px 208px;
        justify-content: space-between;
        flex-direction: column;

        hr {
            border: none;
            height: 2px;
            background-color: $color-black;
            margin: 0px 0px 24px 0px;
        }

        .footer-baja {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-1 {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            align-content: center;

            .section-footer {
                display: flex;
                gap: 16px;
                flex-direction: column;
                align-items: flex-start;

                li {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -0.25rem;
                        height: 2px;
                        width: 0;
                        border-radius: 2px;
                        background-color: $color-black;
                        transition: width .3s ease;
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }
            }

            .footer-2 {

                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;

                img {
                    width: 200px;
                }

                .card {
                    width: fit-content;
                    height: fit-content;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 25px 25px;
                    gap: 20px;

                    .socialContainer {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        background-color: rgb(44, 44, 44);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        transition-duration: 1s;

                        .socialSvg {
                            width: 17px;

                            path {
                                fill: $color-white;
                            }
                        }

                        &:hover .socialSvg {
                            animation: slide-in-top 0.3s both;
                        }

                    }

                    /* instagram*/
                    .containerOne:hover {
                        background-color: #d62976;
                        transition-duration: $transition-social-media;
                    }

                    /* twitter*/
                    .containerTwo:hover {
                        background-color: #00acee;
                        transition-duration: $transition-social-media;
                    }

                    /* linkdin*/
                    .containerThree:hover {
                        background-color: #0072b1;
                        transition-duration: $transition-social-media;
                    }

                    /* Whatsapp*/
                    .containerFour:hover {
                        background-color: #128c7e;
                        transition-duration: $transition-social-media;
                    }

                    .socialContainer {
                        &:active {
                            transform: scale(0.9);
                            transition-duration: $transition-social-media;
                        }
                    }
                }
            }
        }
    }

    .loader {
        width: 200px;
        height: 180px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            width: 100%;
            height: 100%;
            border-radius: 13px;
            position: relative;
            z-index: 1;
            perspective: 600px;
            box-shadow: 0 4px 6px $loader-shadow;
            background-image: $loader-bkg;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;

                li {
                    --r: 180deg;
                    --o: 0;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    transform-origin: 100% 50%;
                    color: $loader-page;
                    opacity: $loader-page;
                    transform: rotateY(var(--r));
                    -webkit-animation: $loader-duration ease infinite;
                    animation: $loader-duration ease infinite;

                    &:nth-child(2) {
                        -c: $loader-page-fold;
                        -webkit-animation-name: page-2;
                        animation-name: page-2;
                    }

                    &:nth-child(3) {
                        --c: $loader-page-fold;
                        -webkit-animation-name: page-3;
                        animation-name: page-3;
                    }

                    &:nth-child(4) {
                        --c: $loader-page-fold;
                        -webkit-animation-name: page-4;
                        animation-name: page-4;
                    }

                    &:nth-child(5) {
                        --c: $loader-page-fold;
                        -webkit-animation-name: page-5;
                        animation-name: page-5;
                    }

                    svg {
                        width: 90px;
                        height: 120px;
                        display: block;
                    }

                    &:first-child {
                        --r: 0deg;
                        --o: 1;
                    }

                    &:last-child {
                        --o: 1;
                    }
                }
            }
        }

        span {
            display: block;
            left: 0;
            right: 0;
            top: 100%;
            margin-top: 20px;
            text-align: center;
            color: $loader-text;
        }
    }
}