$color-black: #000;
$color-white: #fff;

$font: "Montserrat";
$font-size-title: 68px;
$font-size-subtitle:32px;
$font-size-text: 24px;
$font-size-buttons: 16px;

$switch-light: #d8dbe0;
$switch-dark: #28292c;
$switch-link: rgb(27, 129, 112);
$switch-link-hover: rgb(24, 94, 82);

$bkg-color-black: #121212;
$bkg-color-white: #f5f5f5;

$color-white-text: #f5f5f5;

$bkg-book: #1e1e1e;
$bkg-book-left: #2a2a2a;
$border-book: 2px solid #444;
$bkg-book-right: #222;
$bkg-book-form: #333;
$bkg-book-border: 1px solid #555;

$transition-social-media: 0.3s;

$loader-bkg: linear-gradient(135deg, #f823e6, #ff59f7);
$loader-shadow: rgba(39, 94, 254, 0.28);
$loader-text: #000000;
$loader-page: rgba(255, 255, 255, 0.36);
$loader-page-fold: rgba(255, 255, 255, 0.52);
$loader-duration: 3s;





