    @keyframes page-2 {
        0% {
            transform: rotateY(180deg);
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        35%,
        100% {
            opacity: 0;
        }

        50%,
        100% {
            transform: rotateY(0deg);
        }
    }

    @keyframes page-3 {
        15% {
            transform: rotateY(180deg);
            opacity: 0;
        }

        35% {
            opacity: 1;
        }

        50%,
        100% {
            opacity: 0;
        }

        65%,
        100% {
            transform: rotateY(0deg);
        }
    }

    @keyframes page-4 {
        30% {
            transform: rotateY(180deg);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        65%,
        100% {
            opacity: 0;
        }

        80%,
        100% {
            transform: rotateY(0deg);
        }
    }

    @keyframes page-5 {
        45% {
            transform: rotateY(180deg);
            opacity: 0;
        }

        65% {
            opacity: 1;
        }

        80%,
        100% {
            opacity: 0;
        }

        95%,
        100% {
            transform: rotateY(0deg);
        }
    }

    @keyframes slide-in-top {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .readmore-btn {
        width: 230px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(146, 67, 249);
        border: none;
        border-radius: 10px;
        padding: 0px 15px;
        gap: 8px;
        transition: all 0.4s;
        margin-top: 16px;
    }

    .book-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 45px;
        height: 100%;
    }

    .book-wrapper .book-page {
        width: 50%;
        height: auto;
        position: absolute;
    }

    .readmore-btn:hover .book-page {
        animation: paging 0.4s linear infinite;
        transform-origin: left;
    }

    .readmore-btn:hover {
        background-color: rgb(254, 33, 247);
    }

    @keyframes paging {
        0% {
            transform: rotateY(0deg) skewY(0deg);
        }

        50% {
            transform: rotateY(90deg) skewY(-20deg);
        }

        100% {
            transform: rotateY(180deg) skewY(0deg);
        }
    }

    .text {
        width: 105px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        body {









            div {
                .grid-container {
                    grid-template-columns: 1fr;
                    padding: 10px;

                    h1 {
                        font-size: 36px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .inicio-presentacion {
                        grid-template-columns: 1fr 1fr;
                        grid-column: 2 / 12;
                        justify-items: center;

                        .imagen-proyecto {
                            width: 200px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .section-soy {
                        grid-column: 2 / 12;
                        grid-template-columns: 1fr 1fr;
                        justify-items: center;

                        .buttons {
                            display: flex;
                            gap: 0px;
                            flex-direction: column;
                        }

                        .imagen-proyecto {
                            width: 200px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }



    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    body.dark-mode .nav-links {
        background-color: #121212;
    }

    body.dark-mode .nav-links a {
        color: #fff;
    }

    @media (max-width: 768px) {
        .navbar {
            position: relative;
        }

        .navbar__toggle {
            display: block !important;
            background: none;
            border: none;
            color: #000;
            font-size: 2rem;
            cursor: pointer;
            z-index: 50;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease, color 0.3s ease;
        }

        body.dark-mode .navbar__toggle {
            color: #fff;
        }

        .nav-links {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            text-align: center;
            overflow: hidden;

            max-height: 0;
            opacity: 0;
            transition: max-height 0.4s ease, opacity 0.4s ease;
        }

        .nav-links.active {
            max-height: 500px;
            /* suficiente para mostrar todos los links */
            opacity: 1;
        }

        body.dark-mode .nav-links {
            background-color: #121212;
        }

        .nav-links li {
            margin: 10px 0;
        }


        .navbar__toggle span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: currentColor;
            margin: 5px auto;
            border-radius: 2px;
            transition: all 0.3s ease;
        }


        .navbar__toggle.active span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .navbar__toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .navbar__toggle.active span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        body {


            .grid-container {
                grid-template-columns: 1fr;
                padding: 10px;

                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 24px;
                }


                .inicio-presentacion {
                    grid-column: 2 / 12;
                    grid-template-columns: 1fr;

                    .imagen-proyecto {
                        width: 500px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .section-soy {
                    grid-column: 2 / 12;
                    grid-template-columns: 1fr;

                    .imagen-proyecto {
                        width: 500px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

    }