    .dark-mode {

        background-color: $bkg-color-black;
        color: $bkg-color-white;
        transition: background-color .4s ease, color 0.4s ease;

        nav {
            background-color: #141414;

            .nav-links {
                li {
                    &::before {
                        background-color: $color-white;
                    }
                }
            }
        }

        a {
            color: $bkg-color-white;
        }

        footer {
            background-color: $bkg-color-black;
        }

        hr {
            background-color: $color-white;
        }

        .logo {
            img {
                filter: invert(1) brightness(2);
            }
        }

        .footer-2 img,
        .footer-logo {
            filter: invert(1) brightness(2);
        }

        .nav-links {
            li {
                ::before {
                    background-color: $color-white;
                }
            }
        }

        .loader {
            background: #121212;

            span {
                display: block;
                left: 0;
                right: 0;
                top: 100%;
                margin-top: 20px;
                text-align: center;
                color: $color-white;
            }
        }

        footer {
            .footer-1 {
                .section-footer {
                    li {
                        &::before {
                            background-color: $color-white;
                        }
                    }
                }
            }

        }

        .form-libro {
            .book {
                background: $bkg-book;
                color: $bkg-color-white;

                .book-left {
                    background: $bkg-book-left;
                    border-right: $border-book;
                }

                .book-right {
                    background: $bkg-book-right;

                    input {
                        background: $bkg-book-form;
                        color: $bkg-color-white;
                        border: $bkg-book-border;
                    }

                    textarea {
                        background: $bkg-book-form;
                        color: $bkg-color-white;
                        border: $bkg-book-border;
                    }

                    button {
                        background: $bkg-color-white;
                        color: $bkg-color-black;
                    }
                }
            }
        }
    }